*{
    font-family: Poppins, sans-serif;
    color: #222;
}

body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    background-color: #fefefe;
}

header{
    padding-top: 56px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px;
    
}

#div-logo{
    margin-left: 63px;
}

#div-logo img{
    width: 164px;
}

a{
    text-decoration: none;
}

.menu-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    width: 160px;
    font-weight: 400;
    height:45px;
    border:solid 2px #0F9AB9;
    border-radius: 15px;
    margin-right: 63px;
}
.container{
    height:100vh;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #fff ;
    border-left: solid 5px #0F9AB9;
    border-right: solid 5px #0F9AB9;
}

main{
}

.descrição{
    display:flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    font-size: 18px;
    line-height: 27px;
}

.descrição img{
    width: 700px;
}

.descrição ul{
    margin: 0;
}

ul{
    list-style: none;
    margin-left: 65px;
}

li{
    margin-bottom: 27px;
}

h1{
    margin-top: 32px;
    color: #0F9AB9;
    font-size: 40px;
    margin-left: 63px;
}


.color-picker {
    position: relative;
  }
  
  .color-indicator {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    vertical-align: middle;
  }
  
  #color-picker {
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
  }