*{
    
    margin: 0;
    padding: 0;
    font-family: Poppins, sans;
}

.description{
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

h1{
    color: #0fadb9;
}