:root{
  font-size:62.5%
}

*{
  font-family: Poppins, sans-serif;
  color: #222;
}

body{
  margin: 0px;
  padding: 0px;
  width: 100vw;
  background-color: #fefefe;
}

header{
  padding-top: 5.6rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0px;

}

#div-logo{
  margin-left: 6.3rem;
}

#div-logo img{
  width: 16.4rem;
}

a{
  text-decoration: none;
}

.menu-item{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  font-size: 2.0rem;
  width: 16.0rem;
  font-weight: 400;
  height:4.5rem;
  border:solid 2px #0F9AB9;
  border-radius: 1.5rem;
  margin-right: 6.3rem;
}
.container{
  height:100vh;
  margin-left: 4.0rem;
  margin-right: 4.0rem;
  background-color: #fff ;
  border-left: solid 5px #0F9AB9;
  border-right: solid 5px #0F9AB9;
}

main{
}

.descrição{
  display:flex;
  align-items: center;
  margin: auto;
  justify-content: space-around;
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.descrição img{
  width: 70.0rem;
}

.descrição ul{
  margin: 0;
}

ul{
  list-style: none;
  margin-left: 6.5rem;
}

li{
  margin-bottom: 2.7rem;
}

h1{
  margin-top: 3.2rem;
  color: #0F9AB9;
  font-size: 4.0rem;
  margin-left: 6.3rem;
}

.color-picker {
position: relative;
}

#color-picker {
display: inline-block;
vertical-align: middle;
margin-left: 4.0rem;
}

@media only screen and (max-device-width: 1480px) {
  body{
    width: 100%;
  }

  header #div-logo{
    display: flex;
    height:4rem;
    align-content: center;
    justify-content: center;
  }

  header .menu-item{
    display: flex;
    heigth:0.3rem;
    padding: 0rem;
    align-content: center;
    justify-content: center;
    font-size: 1.8rem;
  }

  .menu-item:hover {
    background-color: #0F9AB9;
    color: #fff;
    transition: linear 0.5s;
  }

  .container{
    margin: 10rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  h1{
    margin-top: 2rem;
    color: #0F9AB9;
    font-size: 4.0rem;
    margin-left: 4rem;
  }

  ul li{
    font-size: 90%;
    
  }

  .descrição img{
    width: 60rem;
  }

}
